@charset "utf-8";

/* CSS 
** Document
*/

/* =============== Default Styles ============*/

html {
  font: 16px Helvetica, Arial, Sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #3367fe;
  text-decoration: none;
  > strong {
    color: #107895;
  }
}

/* =============== Homepage Styles ============ */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
}

nav {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
  h1 {
    margin: 0;
    padding: 1.2rem;
    a {
      color: #3367fe;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      transition: letter-spacing 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      span {
        color: #131516;
      }
    }
  }
}

#maincontent {
  top: 4rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

section, aside {
  width: 100%;
}

#map {
  height: 55vh;
  width: 100%;
  background-color: #ccc;
}

#static_map {
  height: 55vh;
  width: 100%;
  object-fit: cover;
}

.filter-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: flex-direction 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  h2 {
    color: #131516;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
  }
}

.filter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: space-evenly;
  select {
    background-color: #ffffff;
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.7rem;
    border: 1px solid #131516;
    border-radius: 5px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='#131516' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    appearance: none;
  }
}

#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover, &:focus {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      box-shadow: 0px 15px 25px 0px rgba(33, 33, 33, 0.2);
    }
  }
}

.restaurant-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

#restaurants-list {
  h1 {
    color: #131516;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  p {
    margin-top: 0;
    font-size: 0.9rem;
    color: #373d3f;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .restaurant-last-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .favorite-button {
    width: 10%;
    margin: 1rem 1.5rem;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
  }
  a {
    margin: 1rem;
    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;
    background: #3367fe;
    color: #ffffff;
    width: 40%;
    padding: 0.6rem;
    border-radius: 3px;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover, &:focus {
      background: #01447e;
    }
  }
}

#footer {
  top: 4rem;
  background-color: #f5f7ff;
  color: #373d3f;
  font-size: 0.5em;
  letter-spacing: 1px;
  padding: 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  z-index: 11;
}

/* =============== Restaurant Page Styles ============ */

.inside {
  header {
    box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
  }
  nav {
    box-shadow: none;
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  }
}

#breadcrumb {
  list-style: none;
  font-size: 0.7rem;
  font-weight: 600;
  color: #373d3f;
  padding: 0.6rem 1.5rem;
  margin: 0;
  li {
    display: inline;
    + li:before {
      padding: 8px;
      color: #373d3f;
      content: "/\00a0";
    }
    a {
      color: #3367fe;
      text-decoration: none;
      &:hover {
        color: #01447e;
      }
    }
  }
}

.inside {
  #maincontent {
    top: 6rem;
  }
  .restaurant-img {
    border-radius: 0;
  }
}

#restaurant-container {
  .detail-first-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  h1 {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #131516;
    margin-left: 1rem;
    margin-right: 1rem;
  }
    button {
    width: 20%;
    margin: 0.83rem 1rem;
    border: none;
    background-position: right 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #restaurant-cuisine {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #db3236;
    margin: 0 1rem;
  }
  #restaurant-address {
    font-size: 0.9rem;
    color: #373d3f;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    caption {
      font-size: 0.6rem;
      text-transform: uppercase;
      margin: 1rem;
      color: #373f3f;
    }
    tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
    }
  }
}

table td {
  padding: 1rem 1.5rem;
  font-size: 0.7rem;
  color: #131516;
}

#reviews-container {
  width: 100%;
  top: 6rem;
  z-index: 9;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  h2 {
    margin: 1.5rem 1.5rem 0 1.5rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  p {
    margin: 1.5rem;
    font-size: 0.9rem;
    color: #373d3f;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.2);
    p {
      &:nth-of-type(1) {
        width: calc(100% * (1/2) - 1.5rem - 1px);
        margin-bottom: 0;
        margin-right: 0;
        font-size: 1rem;
        color: #131516;
      }
      // &:nth-of-type(2) {
      //   width: calc(100% * (1/2) - 1.5rem - 1px);
      //   margin-bottom: 0;
      //   margin-left: 0;
      //   text-align: right;
      //   font-size: 0.6rem;
      //   text-transform: uppercase;
      //   color: #373f3f;
      // }
      &:nth-of-type(2) {
        width: 100%;
        font-size: 0.8rem;
        color: #db3236;
        margin-bottom: 0;
      }
      &:nth-of-type(3) {
        font-size: 0.9rem;
        color: #373d3f;
        line-height: 1.5rem;
      }
    }
  }
}

/* =============== Alert Box  ============= */
#alert {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  transition: all 0.3s;
  span {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 1rem;
    color: #373d3f;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.2);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  button {
    text-align: right;
    color: #ffffff;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0 1rem;
    font-size: 2.5rem;
  }
}

/* =============== Form Styles ============ */
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.2);
  h2 {
    text-align: center;
    width: 100%;
    margin: 0 !important;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;

  }

  label {
    width: 100%;
    margin-bottom: 0.5rem;
    &:nth-of-type(1) {
      margin-top: 1.5rem;
    }
  }
  input, select, textarea {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #131516;
    border-radius: 5px;
  }
  input, textarea {
    padding: 0.5rem;
  }
  select {
    width: 3rem;
    padding-left: 0.3rem;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='#131516' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    appearance: none;
  }
  textarea {
    height: 5rem;
  }
  button {
    margin: 0 auto;
    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;
    background: #3367fe;
    color: #ffffff;
    width: 8rem;;
    padding: 0.6rem;
    border-radius: 3px;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover, &:focus {
      background: #01447e;
    }
  }
}

.inside #footer {
  top: 6rem;
}

/* =============== Media Queries ============ */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 426px) {
  nav h1 a {
    letter-spacing: 10px;
  }
  .filter-form {
    flex-direction: row;
    select {
      width: 100%;
    }
  }
  #map, #static_map {
    height: 70vh;
  }
}

@media screen and (min-width: 600px) {
  section {
    box-shadow: none;
  }
  .inside {
    header {
      position: relative;
    }
    #maincontent {
      flex-direction: row;
      height: 80vh;
      top: 0;
    }
    section {
      flex-grow: 2;
      overflow: auto;
      width: 50%;
      order: 1;
      position: relative;
      z-index: 8;
    }
    aside {
      flex-grow: 1;
      width: 50%;
      order: 2;
    }
    #map {
      height: 100%;
      width: 100%;
    }
  }
  #reviews-container, .inside #footer {
    top: 0;
  }
  #reviews-container {
    box-shadow: 2px 0px 10px 0px rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 960px) {
  header {
    position: relative;
  }
  #maincontent {
    flex-direction: row;
    height: 85vh;
    top: 0;
  }
  section {
    flex-grow: 2;
    overflow: auto;
    width: 55%;
    order: 1;
    position: relative;
    z-index: 8;
    box-shadow: 2px 0px 10px 0px rgba(33, 33, 33, 0.2);
  }
  .inside {
    section {
      box-shadow: none;
    }
  }
  aside {
    flex-grow: 1;
    width: 45%;
    order: 2;
  }
  .inside {
    section {
      width: 50%;
    }
    aside {
      width: 50%;
    }
  }
  #map {
    height: 100%;
    width: 100%;
  }
  #static_map {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #footer {
    top: 0;
  }
  form {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  #reviews-container ul {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
  
}